extends ../layout

block content
    h2.text-center Lista de Estudiantes
    table.table
        thead
            tr
                th Nombre
                th Apellidos
                th Edad
                th Email
                th Núm Matrícula
                th Acciones
        tbody
            each estudiante in estudiantes                
                tr
                    td= estudiante.nombre
                    td= estudiante.apellidos
                    td= estudiante.edad
                    td= estudiante.email
                    td= estudiante.matricula    
                    td
                        a.btn.btn-sm.btn-primary(href="/students/"+estudiante.id) View
                        a.btn.btn-sm.btn-danger(href="/students/delete/"+estudiante.id) Borrar