extends ../layout

block content
    h2.text-center Lista de Estudiantes
    table.table
        thead
            tr
                th Nombre
                th Apellidos
                th Edad
                th Email
                th Núm Matrícula
        tbody
            each estudiante in estudiantes
                tr
                    td= estudiante.nombre
                    td= estudiante.apellidos
                    td= estudiante.edad
                    td= estudiante.email
                    td= estudiante.numMatricula                    